<div>
<%= form_tag '/enroll' do%>
<% @list.each do |student|  %>
	<%=  fields_for 'students[]', student do |s|%>
			<%= s.label :first_name%><br>
		  <%= s.text_field :first_name %><br>
         	<%= s.label :last_name%><br>
		  <%= s.text_field :last_name %><br>
         	<%= s.label :age%><br>
		  <%= s.number_field :age %><br>
         <%= s.label :guardian %><br>
		<%=s.text_field :parents  %><br>

    <%= submit_tag %><br>
	<% end  %>
<% end  %>
<% end%>
</div>
