<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @teacher.bio %>
</p>

<p><%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %></p>
