<div>
<h1>Approve Unapproved users</h1>

<% if @user.admin? and @user.authenticated?%>
  <%= form_for :admins do |f| %>
<h2>Approve</h2>
	<% non_admins.each do |item|  %>	
		<%= f.check_box item.email %><%= item.first_name  %>  <%= item.last_name  %>  <%= item.email %><br>
	<% end  %>
	<div class="actions">
    <%= f.submit %>
  </div>

	<%end%>
<%end%>
<div>
