<!DOCTYPE html>
<html>
<head>
  <title>OnlineBookingSystem</title>
 <h1><%= flash[:notice]  %></h1>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
	<%= javascript_include_tag :defaults, "nested_form" %>
	<%= csrf_meta_tags %>
	
	<ul class="nav">
	<div class="logo">
		<a href="#">Dublin 7 Educate Together</a></li>
	</div>
	
	<li><%= link_to "Home", root_path%></li>
	<% if logged_in? %>
		<li> <%= link_to "Log out", logout_path, method: "delete" %></li>
		<li> <a href="/activities">Show Activities</a></li>
	<% else %>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register for account</a></li>
	<% end %>
	
	<%if logged_in? and  current_user.admin == true  %>
		<li><a href="/registerteacher">Register a teacher</a></li>
	<% end %>
	
	<%if logged_in? and  current_user.userable_type == "Parent" %>
		<li><a href="/students">Your Children</a></li>
		
	<% end %>
	
	
	
	</ul>
	
	
</head>
<body>
			



<%= yield %>

</body>
</html>
