<% provide(:title,"Log in")  %>
<h1>Log in</h1>
<h2><%= flash[:message]    %></h2>


<div>
  <%= form_for(:session, url: login_path) do |f|  %>
  <p>
	<%= f.label :email %><br>
	<%= f.email_field :email, class: 'email-control' %><br>
  </p>
  <p>
	<%= f.label :password %><br>
	<%= f.password_field :password, class: 'password-control' %><br>
  </p>
  <p>
	<%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
 </p>
    <p class="end-link">New user? <%= link_to "Sign up now!",register_path %></p>
</div>
