
<% provide(:title,"Log in")  %>
<h1>Log in</h1>
<h2><%= flash[:message]    %></h2>
<h3><%="The login count is "  + session[:login_count].to_s  unless session[:login_count] == nil  %></h3>
<div>
  <%= form_for(:session, url: login_path) do |f|  %>
  
  <%= f.label :email %><br>
  <%= f.email_field :email, class: 'form-control' %><br>
  
  <%= f.label :password %><br>
  <%= f.password_field :password, class: 'form-control' %><br>
  
  <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
	
    <p>New user? <%= link_to "Sign up now!",register_path %></p>
</div>
