<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Activity Name</th>
      <th>Responsibleteacher</th>
      <th>Description</th>
      <th>Startclasssuitability</th>
      <th>Endclasssuitability</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Noofchildren</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.ActivityName %></td>
        <td><%= activity.ResponsibleTeacher %></td>
        <td><%= activity.Description %></td>
        <td><%= StudentClass.find(activity.StartClassSuitability).StudentClass %></td>
        <td><%= StudentClass.find(activity.EndClassSuitability).StudentClass %></td>
        <td><%= activity.StartDate.strftime("%d-%m-%y") %></td>
        <td><%= activity.EndDate.strftime("%d-%m-%y") %></td>
        <td><%= activity.StartTime.strftime("%H:%M:%S") %></td>
        <td><%= activity.EndTime.strftime("%H:%M:%S") %></td>
        <td><%= activity.NoOfChildren %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
